:root {
    --img: url(/img/paul-gilmore-8kDOOrs608I-unsplash.jpg);
}

.normal {
    width: 800px;
    height: 450px;
    border-radius: 10px;
    margin: 2px;
    background-image: var(--img);
    background-size: auto, auto, auto, cover;
    background-repeat: repeat;
    background-position: center;
}


.filtered {
    width: 800px;
    height: 450px;
    border-radius: 10px;
    margin: 2px;
    background-image: 
        radial-gradient(ellipse, #0000, #0007),
        linear-gradient(0deg, #9725, #9725),
        url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png),
        var(--img);
    background-size: auto, auto, auto, cover;
    background-repeat: repeat;
    background-position: center;
    filter: blur(0.05em) saturate(0.7) contrast(1.5) brightness(1.2);
}